{% extends 'base.html' %}

{% block title %} Blogpost {% endblock title %}
{% load humanize %}
{% load extras %}
{% block css %}
body{
  background:-webkit-linear-gradient(left, #9596c9, #d7e7d3);
}

.abd{
  background:-webkit-linear-gradient(left, #9596c9, #d7e7d3);
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-body {
  padding-top: 25px;
  padding-bottom: 25px;
}


.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}


.chat-btn {
  display: none;
}

.chat-btn .close {
  display: none
}

.chat-btn i {
  display: none;
}

#check:checked~.chat-btn i {
  display: none;
}

#check:checked~.chat-btn .comment {
  display: none;
}

.chat-btn i {
  display: none;
}

.chat-btn {
  display: none;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/static/img/bp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
header.masthead p {
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}



.icon-conatiner {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 20px 20px 15px 0 #ababab4d;
  cursor: pointer;
  /* animation: bounce 0.3s 1 forwards; */
}
svg {
  width: 20px;
  height: auto;
}
svg:last-child {
  position: absolute;
}

.icon-conatiner:active {
  animation: press 0.2s 1 linear;
}
.icon-conatiner:active svg:last-child {
  animation: bounce 0.2s 1 linear;
}
.text {
  color: #666;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bounce {
  50% {
    transform: rotate(5deg) translate(20px, -50px);
  }
  to {
    transform: scale(0.9) rotate(10deg) translate(50px, -80px);
    opacity: 0;
  }
}







{% endblock css %}


{% block body %} 

<header class="masthead">
  
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading" style="padding:200px 0">
          <h1>Welcome to the Blog Display</h1>
          
          <p class="subheading">Checkour the blog you want to see</p>
          
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container py-5 px-3">
    <div class="p-1 mb-4 bg-light rounded-3" style="border: 1px solid #e6e4e9 !important;border-radius: 8px !important;">
      {% comment %} style="border-radius: 10px 90px 10px 10px!important;
    box-shadow: 0 10px 20px 0 rgb(7 42 68 / 10%);"> {% endcomment %}
      <div class="container-fluid py-5" >
        <h1 class="display-5 fw-bold pb-3 mb-4 border-bottom" style="font-family: 'Poor Story', cursive;">{{post.title}}</h1>
        <p class="fs-5" style="font-family: 'Caveat', cursive;">{{post.content|safe}}</p>
        <div class="mb-1 text-muted">{{post.timeStamp}}<span class="mx-4"><button type="button" class="btn btn-light btn-sm" disabled style="border-color: black;
          border-radius: 30px 30px 30px 30px !important;
          box-shadow: 0 4px 15px 0 rgb(7 42 68 / 9%);">
          Views <span class="badge text-bg-secondary">{{post.views}}</span>
        </button></span></div>
        <div class="mb-1 text-muted">post by <a href="#">{{post.author}}</a></div>

        {% if user.is_authenticated %}
        <form action="/blog/postLike" method="post">{% csrf_token %}
        <div class="d-flex justify-content-end p-4">
        <button type="submit" class="btn btn-primary" style="border-radius: 22px 5px 22px 5px;position: absolute;">
          <i class="fa-solid fa-heart"></i> {{post.likes}}
        </button>
        <input type="hidden" name="lSno" value="{{post.sno}}">
      </form>
      {% else %}
        <div class="d-flex justify-content-end p-4">
        <button type="submit" class="btn btn-primary" style="border-radius: 22px 5px 22px 5px;position: absolute;" disabled>
          <i class="fa-solid fa-heart"></i> {{post.likes}}
        </button>
      {% endif %}


      </div>
      </div>
    </div>
</div>

<div class="container bootdey">
  <div class="col-md-12 bootstrap snippets">
  <div class="panel">
    <h2>Comments <span>({{comments.count}})</span></h2>
    {% if user.is_authenticated %}
    <form action="/blog/postComment" method="post">{% csrf_token %}
      <div class="panel-body">
        <textarea class="form-control" rows="2" placeholder="What are you thinking?" type="text" name="comment" style="border-radius: 10px 10px 10px 10px!important;
        box-shadow: 0 10px 20px 0 rgb(7 42 68 / 10%);"></textarea>
        <input type="hidden" name="postSno" value="{{post.sno}}">
        <div class="mar-top clearfix">
        <button class="btn btn-sm btn-primary pull-right" type="submit" value="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        {% comment %} <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a> {% endcomment %}
      </div>
    </form>
    {% else %}
    <p style="padding-left: 20px;">Please login to post a comment</p>
      <div class="panel-body">
        <textarea class="form-control" rows="2" placeholder="What are you thinking?" type="text" name="comment" style="border-radius: 10px 10px 10px 10px!important;
        box-shadow: 0 10px 20px 0 rgb(7 42 68 / 10%);"></textarea>
        <input type="hidden" name="postSno" value="{{post.sno}}">
        <input type="hidden" name="parentSno" value="">
        <div class="mar-top clearfix">
        <button class="btn btn-sm btn-primary pull-right" disabled><i class="fa fa-pencil fa-fw"></i> Share</button>
        {% comment %} <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a> {% endcomment %}
      </div>
    {% endif %}
    </div>
  </div>
  <div class="panel">
      <div class="panel-body">
      <!-- Newsfeed Content -->
      <!--===================================================-->
      {% for comment in comments %}
      <div class="media-block">
        <a class="media-left" href="#"><img class="img-circle img-sm mx-2" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
        <div class="media-body">
          <div class="mar-btm">
            <strong class="d-inline-block text-success">{{comment.user.username}}</strong>
            <p class="text-muted text-sm">{{comment.timestamp | naturaltime}}</p>
          </div>
          <p>{{comment.comment}}</p>
          <div class="pad-ver">
            
            <button class="btn btn-sm btn-default btn-hover-primary mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{comment.sno}}" aria-expanded="false" aria-controls="collapseExample{{comment.sno}}">Reply</button>


            {% comment %} collapse pannel {% endcomment %}
            <div class="collapse show" id="collapseExample{{comment.sno}}">
              
              {% if user.is_authenticated %}
              <form action="/blog/postComment" method="post">{% csrf_token %}
                <div class="panel-body">
                  <textarea class="form-control" rows="2" placeholder="Want to reply that comment?" type="text" name="comment" style="border-radius: 10px 10px 10px 10px!important;
                  box-shadow: 0 10px 20px 0 rgb(7 42 68 / 10%);"></textarea>
                  <input type="hidden" name="parentSno" value="{{comment.sno}}">
                  <div class="mar-top clearfix">
                    <input type="hidden" name="postSno" value="{{post.sno}}">
                  <button class="btn btn-sm btn-primary pull-right" type="submit" value="submit"><i class="fa fa-pencil fa-fw"></i> Post reply</button>
                </div>
              </form>
              {% else %}
              <form action="/blog/postComment" method="post">{% csrf_token %}
                <div class="panel-body">
                  <textarea class="form-control" rows="2" placeholder="Want to reply?" type="text" name="comment" style="border-radius: 10px 10px 10px 10px!important;
                  box-shadow: 0 10px 20px 0 rgb(7 42 68 / 10%);"></textarea>
                  <input type="hidden" name="parentSno" value="{{comment.sno}}">
                  <div class="mar-top clearfix">
                    <input type="hidden" name="postSno" value="{{post.sno}}">
                    <button class="btn btn-sm btn-primary pull-right" disabled><i class="fa fa-pencil fa-fw"></i> Login to reply</button>
                </div>
              </form>

              {% endif %}

              {% for reply in replyDict|get_val:comment.sno %}
              <div class="media-block mt-2">
                <a class="media-left" href="#"><img class="img-circle img-sm mx-2" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
                <div class="media-body">
                  <div class="mar-btm">
                    <strong class="d-inline-block text-success">{{reply.user.username}}</strong>
                    <p class="text-muted text-sm">{{reply.timestamp | naturaltime}}</p>
                  </div>
                  <p>{{reply.comment}}</p>
                  {% comment %} <hr> {% endcomment %}
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
          <hr>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
  </div>
</div>


{% endblock body %}




