{% extends 'base.html' %}

{% block title %} Blog Create {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block css %}
body{
    font-family: cursive;
    background:-webkit-linear-gradient(left, #c09dcb, #7ccfdd);
}

.chat-btn {
    display: none;
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    display: none;
}

#check:checked~.chat-btn i {
    display: none;
}

#check:checked~.chat-btn .comment {
    display: none;
}

.chat-btn i {
    display: none;
}

.chat-btn {
    display: none;
}

.wrapper {
    display: none;
}

#check:checked~.wrapper {
    display: none;
}

.header {
    display: none;
}

.chat-form {
    display: none;
}

#nme, #msg, #snbt{
    display: none;
}

.chat-form textarea {
    display: none;
}

#check {
    display: none;
}

{% endblock css %}

{% block body %}
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Let's Drop Your Thoughts Here!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Ready to share your thoughts with us? Send whatever is in yout mind and we will display it to the website as soon as possible!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-8">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" action="/blog/blogcreate/" method="post"> {% csrf_token %}
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="title" name="title" type="text" placeholder="Enter Blog Title..." required/>
                        <label for="title"> Blog Title </label>
                        <div class="invalid-feedback" required>A name is required.</div>
                    </div>
                
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="content" id="content" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                        <label for="content">Blog Content</label>
                        <div class="invalid-feedback" >A content is required.</div>
                    </div>

                    <input type="hidden" name="author" value="{{post.author}}">
                    <input type="hidden" name="slug" value="{{post.title}}">
                    <input type="hidden" name="timeStamp" value="{{post.timeStamp}}">

                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            {% comment %} <a href="blog/blogcreate/"></a> {% endcomment %}
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
                </form>
            </div>
        </div>
  
    </div>
 </section>
 {% endblock body %}

 {% block js %}

 <script>

    var script= document.createElement('script');
script.type='text/javascript';
script.src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js";
document.head.appendChild(script);

script.onload=function(){
tinymce.init({
    selector: "#content",
    height:656,
    plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
      ],
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | ' +
        'forecolor backcolor emoticons | help',
      menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
      },
      menubar: 'favs file edit view insert format tools table help',

    });
}

 </script>

 {% endblock js %}
