{% extends 'base.html' %}

{% block title %} Password Reset {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block css %}
body{
    background: -webkit-linear-gradient(left, #9c97c3, #e0e1a2);
    font-family: cursive;
}

.chat-btn {
    display: none;
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    display: none;
}

#check:checked~.chat-btn i {
    display: none;
}

#check:checked~.chat-btn .comment {
    display: none;
}

.chat-btn i {
    display: none;
}

.chat-btn {
    display: none;
}

.wrapper {
    display: none;
}

#check:checked~.wrapper {
    display: none;
}

.header {
    display: none;
}

.chat-form {
    display: none;
}

#nme, #msg, #snbt{
    display: none;
}

.chat-form textarea {
    display: none;
}

#check {
    display: none;
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/static/img/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
    color: white;
    text-align: center;
    margin-bottom: 25px;
  }
  header.masthead p {
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
  }

  .abd{
    background: -webkit-linear-gradient(left, #9c97c3, #e0e1a2);
  }

{% endblock css %}

{% block body %} 

<header class="masthead">
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" style="padding:200px 0">
            <h1>Welcome to Password Reset</h1>
            <p class="subheading">Forget password or reset password</p>
          </div>
        </div>
      </div>
    </div>
  </header>
    <section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Reset password Complete</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <p class="text-muted mb-5" style="text-align:center;">Password has been changed!</p>
                <p class="text-muted mb-5" style="text-align:center;">Login Now <a href="/login">Go Here</a></p>
            </div>
        </div>
    </div>
 </section>




{% comment %} <div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form action="/contact/" method="post"> {% csrf_token %}
        <h3>Drop Us a Message</h3>
       <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="padding: 2px;margin: 4px;">
                <textarea name="content" id="content" class="form-control" placeholder="Your Message *" style="width: 100%; height: 171px;"></textarea>
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group" style="padding: 2px;margin: 4px;">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group" style="padding: 2px;margin: 4px;">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group" style="padding: 2px;margin: 4px;">
                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone Number *" value="" />
                </div>
                <div class="form-group" style="padding: 2px;margin: 4px;">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                </div>
            </div>
        </div>
    </form>
</div> {% endcomment %}
{% endblock body %}